{% extends "layout.html" %}

{% block title %}
    my gear
{% endblock %}

{% block main %}

<div class="header">
    <h2>your registered gear</h1>
</div>

<!-- Flash mesage for successful / unsuccessful action -->
{% for message in get_flashed_messages()%}
<h3> {{message}} </h3>
{% endfor %}

<div class="container">
    <div class="section">
        <!-- Table to show data -->
        <table>
            <thead>
                <tr>
                    <th>gear type</th>
                    <th>manufacturer</th>
                    <th>model</th>
                    <th>serial no</th>
                    <th>date of purchase</th>
                    <th>value (£)</th>
                </tr>
            </thead>
            <tbody>
            <!-- Loop through database entires and display them in this table -->
            {% for record in records %}
                <tr>
                <td>{{ record.type }}</td>
                <td>{{ record.manufacturer }}</td>
                <td>{{ record.model }}</td>
                <td>{{ record.serial}}</td>
                <td>{{ record.date }}</td>
                <td>{{ record.value }}</td>
                <td>
                    <a href="{{ url_for('delete_data', id=record.id)}}">Delete</a>
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}