{% extends "layout.html" %}

{% block title %}
    studio gear tracker
{% endblock %}

{% block main %}

<div class="header">
    <h1>register your studio gear</h1>
</div>

<!-- Flash mesage for successful / unsuccessful action -->
{% for message in get_flashed_messages()%}
<h3> {{message}} </h3>
{% endfor %}

<div class="container">
    <div class="section form">
        <!-- Form to capture data -->
        <form method="POST" action="/add_data">
            <div>
                <label>gear type</label><br>
                <select autocomplete="off" name="type" required>
                    <option disabled>select gear type</option>
                    <option>instrument</option>
                    <option>microphone</option>
                    <option>monitors</option>
                    <option>audio interface</option>
                    <option>outboard FX</option>
                    <option>other</option>
                </select>
            </div>
            <div>
                <label>manufacturer</label>
                <input autocomplete="off" name="manufacturer" type="text" placeholder="enter manufacturer" spellcheck="false" required>
            </div>
            <div>
                <label>model</label>
                <input autocomplete="off" name="model" type="text" placeholder="enter model" spellcheck="false" required>
            </div>
            <div>
                <label>serial number</label>
                <input autocomplete="off" name="serial" type="text" placeholder="enter serial number" spellcheck="false">
            </div>
            <div>
                <label>date of purchase</label>
                <input autocomplete="off" name="date" type="date">
            </div>
            <div>
                <label>value (£)</label>
                <input autocomplete="off" name="value" type="number" placeholder="enter value (£)" required>
            </div>
            <input class="button" type="submit" value="register gear" />
        </form>
    </div>
</div>

{% endblock %}